<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand href="#"></a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="">ログイン</a></li>
        <li><a href="">アカウントを作成</a></li>
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="キーワードを検索...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
      </div>
  </nav>
  <img class="logo"src="/assets/img_logo_pc.jpg" alt="">
  <div class='wrapper clearfix'>
    <aside class="side_menu">
          <div class="box1">
          <h3>Micropost JAPAN   <span class="label label-info">フォローする</span></h3>
          <p class='miki'>@MicropostJP</p>
          <p>日本語版Micropost公式アカウントです。<br>
            サービスに関してのご質問、お問い合わせは,<br>
             https://support.micropost.com および<br>
              https://support.micropost.com/articles/486421をご利用ください。</p>
           <span class="glyphicon glyphicon-map-marker" aria-hidden="true">東京都中央区</span>
           <span class="glyphicon glyphicon-link" aria-hidden="true">blo.micropost.com/ja_jp.html</span>
           <span class="glyphicon glyphicon-heart" aria-hidden="true">誕生日: 3月21日</span>
           <span class="glyphicon glyphicon-list-alt" aria-hidden="true">2007年6月からMicropostを利用しています</span>
           <p>141フォロー中　100万フォロワー</p>
           </div>
          <h2>Micropost一覧</h2>
              <table>
                <tr>
                  <th>投稿内容</th>
                </tr>
    <% @microposts.each do |micropost| %>
      <td><%= micropost.content %></td>
    <% end %>
    </table>
        </aside>
        <article class='contents'>
            <div class="box5">
              <h2>Micropostを使ってみよう!</h2>
              <p>今すぐ登録して、タイムラインをカスタマイズしましょう!</p>
              <span class="label label-info">アカウント作成</span>
            </div>
            <div class="box3">
              <h2>おすすめツイート</h2>
            </div>
            <div class='box4'>
              <h4>Micropost DEV JAPAN　　<span class="label label-info">フォローする</span></h4>
            </div>
            <div class='box4'>
            <h4>Micropostメディア　　<span class="label label-info">フォローする</span></h4>
          </div>
          <div class='box4'>
            <h4>Micropost Safety　<span class="label label-info">フォローする</span></h4>
      </div>
</article>
</div>
